# ==================== 环境变量说明，上传到仓库，供协作人员参考 ==================== #

# ==================== 不公开 ==================== #
# AI模型密钥
DEEPSEEK_API_KEY=
DOUBAO_API_KEY=
QIANWEN_API_KEY=

# PostgreSQL 配置
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# 容器内部主机名（固定为服务名 db，Docker 自动解析）
POSTGRES_HOST=db
POSTGRES_PORT=5432

# 后端 PostgreSQL 基础地址，不带数据库名
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}


# ==================== 可公开 ==================== #
# 后端接口基础地址（记得去全局常量里确认下前缀，默认 /api）
# 记得去全局常量里确认下前缀，默认 /api
# SWR 在局域网 移动端测试 的时候使用localhost会跨域，这里该用 IP
NEXT_PUBLIC_API_BASE_URL=
# BFF层接口统一传统后端基础地址（记得去全局常量里确认下前缀，默认 /api），如果需要访问第三方API，在服务层自己提供API全路径创建方法即可
BFF_PUBLIC_API_BASE_URL=

# 是否跳过数据库初始化
SKIP_DB_INIT=true